html, body, header, footer, hgroup, nav, article, section, figure, figcaption, div, span, h1, h2, h3, ul, li, body, img, p{
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  vertical-align:baseline;
}
