body{
  background-image:url("../images/Background2.jpg");
  background-size:cover;
  background-color: #4E1C7F;
}

/* Header Starts Here*/
header{
  height:40px;
  background-color:#4E1C7F;
  position:fixed;
  width:100%;
  top:0px;
  left:0px;
  z-index:5;
  box-shadow: 0 0 6px #270E3F;
  display:table;
}
#topBar{
  display:table;
  margin:0 auto;
  text-align:right;
  width:75rem;
}
#home{
  display:table-cell;
  vertical-align: top;
  width:10rem;
  text-align: left;
}
#search{
  display:table-cell;
  vertical-align:middle;
  width:50rem;
  text-align: right;
}
nav{
  text-align: right;
  display: table-cell;
  color:white;
  vertical-align:middle;
  font-weight: bold;
}
nav a{
  color:white;
  text-decoration:none;
}
nav ul li{
  display:inline-block;
  padding:0.65em;
}
nav ul li:hover{
  background-color:green;
}
#loggedUser{
  display:none;
}
/*Main Layout Starts Here*/
#main{
  display: table;
  margin: 4em auto 4em;
  background-color:#A98EB1; /*#361A96*/
  padding:0.5em;
  border-color:black;
  border-style:solid;
  border-width:medium;
  border-radius:0px 25px 25px 0px;
  width:75rem;
  height:100%;
}
table{
  width:100%;
  background-color:grey;
  border-color:black;
  border-style:solid;
  border-width:thin;
  border-radius:0px 10px 10px 0px;
}
td{

}
th{
  text-align: left;
}
.tableTopic{
  height:2em;
}
.topicDescription{
  height:0.3em;
  font-size:8pt;
  color:
}
.unread{
  width:2em;
}
.lPost{
  width:4em;
}
footer{
  color:white;
  width:100%;
}
footer p{
  width:75rem;
  margin:0 auto 0;
}

/* Home Page Starts Here*/
.heading{
  margin-bottom: 1em;
  width:75rem;
}
.fPost{
  display:inline-block;
  height:6em;
  width:24%;
  background-color: orange;
  margin-bottom:1em;
}

/* Thread Styling from here Down*/
.userImage{
  height:260px;
  width:160px;
}
.userInfo{
  width:7em;
}
.postContent{
  min-height: 10em;
}
.postDate{
  height:3em;
}
.Signature{
  height:5em;
}
.thread th{
  height:2em;
  font-size:20pt;
}
.post{
  margin:
}
#userPost{
  margin-top:1rem;
}

/*User Page Styling starts Here*/
.settings{
  display:none;

}
#Account_Info{
  display:block;
}
#buttons{
  display:block;
  float:left;
  width:20%;
}
#buttons button{
  display:block;
  width:100%;
  height:2rem;
}

/*Mail Page Styling starts Here*/

#mailbox{
  display:inline-block;
  margin:0;
  background-color:#6C5B72;
  width:24%;
  height:100%;
  float:left;
}
#mailList{
  height:25rem;
  width:18rem;
  overflow-y:scroll;
}
#mailList a{
  display:flex;
  color:#A98EB1;
  height:1.5rem;
}
#mailList a:visited{
  color:black;
}
#mailList a:nth-child(even){
  background-color: #79667F;
}
#mailList a:nth-child(odd){
  background-color:#605165;
}
#mailControls{
  display:table;
  background-color:white;
  width:18rem;
}
#mailControls li{
  display:table-cell;
  overflow:hidden;
  border-right-color: black;
  border-right-style: solid;
  border-right-width: thin;
  padding:0.5em;
  text-align:left;
  text-align: center;
  vertical-align:middle;
}
.mailThread{
  display:inline-block;
  width:75%;
}

/*Login-Screen starts here*/
#login{
  display:block;
  vertical-align: middle;
  text-align: right;
  margin:auto;
  border:none;
}
#login fieldset{
  border:none;
  margin-right:40%;
}
